﻿<div class="container">
    <div class="row">&nbsp;</div>
    <form  action="/Admin/Index" method="post">

        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                Message to all clients: <input type="text" id="message" name="message" />
                <input type="submit" id="sendButton" value="Send Message" />
            </div>
        </div>
    </form>
</div>
